<div style="margin-top: 2rem; padding: 1rem; max-width: 600px; margin-left: auto; margin-right: auto; align-items: center;">
  <p style="text-align: center; font-weight: bolder">Grupo:</p>
  <ul style="list-style: none; text-align: center">
      <li>Ailson Ferreira de Oliveira Junior - 235708</li>
      <li>Arthur Gabriel de Menezes Viana - 235739</li>
      <li>Diego Augusto da Costa Ferreira - 235581</li>
      <li>João Victor dos Santos Alves - 236177</li>
      <li>Marcos Antonio V. de Oliveira - 235012</li>
  </ul>
</div>
