<div style="margin-top: 2rem; padding: 1rem; max-width: 600px; margin-left: auto; margin-right: auto; align-items: center;">
  <h3 style="margin-bottom: 1rem; text-align: center">O Código</h3>
  <img src="../../assets/img_2.png" style="max-width: 20rem; margin: 0 auto; display: block; margin-bottom: 1rem;">
  <p>
    Mussum Ipsum, cacilds vidis litro abertis. Delegadis gente finis, bibendum egestas augue arcu ut est. Quem manda na minha terra sou euzis! Nulla id gravida magna, ut semper sapien. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.
  </p>
  <p>
    Mussum Ipsum, cacilds vidis litro abertis. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Não sou faixa preta cumpadi, sou preto inteiris, inteiris. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.
  </p>
</div>
