<div style="margin-top: 2rem; padding: 1rem; max-width: 600px; margin-left: auto; margin-right: auto; align-items: center;">
  <h3 style="margin-bottom: 1rem; text-align: center">O Código</h3>
  <img src="../../assets/codigo.jpg" style="max-width: 20rem; margin: 0 auto; display: block; margin-bottom: 1rem;">
  <p>
    O projeto utiliza um Arduino para monitorar o fluxo de veículos, contando passagens e emitindo alertas visuais e sonoros. Com um sensor ultrassônico, o sistema detecta quando um objeto passa a menos de 10 cm, acionando um buzzer e um LED e incrementando uma contagem exibida no monitor serial. A solução, acessível e de baixo custo, é ideal para monitoramento em estacionamentos, vias movimentadas ou áreas de acesso restrito, demonstrando como tecnologias DIY podem contribuir para a mobilidade urbana e cidades mais inteligentes.
  </p>
</div>
