<div style="margin-top: 2rem; padding: 1rem; max-width: 600px; margin-left: auto; margin-right: auto;">
  <p>
    O crescimento urbano nas cidades brasileiras tem intensificado a necessidade de soluções tecnológicas para a gestão de tráfego. Este artigo propõe o desenvolvimento de um sistema de monitoramento de tráfego em tempo real utilizando tecnologias como Internet das Coisas (IoT), Arduino e algorítmos de análise de dados. O sistema visa melhorar a mobilidade urbana, reduzir congestionamentos e aumentar a segurança viária nas cidades brasileiras. São apresentados os componentes da arquitetura do sistema, bem como estudos e projetos brasileiros que utilizam essas tecnologias. Resultados preliminares obtidos em simulações indicam uma melhora significativa no fluxo de veículos e na capacidade de previsão de eventos críticos no trânsito.
  </p>
</div>
<div style="display: flex; align-items: center; justify-content: center;">
  <div class="card" style="width: 18rem; margin-top: 1rem">
    <img src="../../assets/img_1.png" class="card-img-top">
    <div class="card-body">
      <p class="card-text">O Arduino Esp32 foi usado no projeto para fazer a simulação de tráfego.</p>
    </div>
  </div>
</div>
