<div style="margin-top: 2rem; padding: 1rem; max-width: 600px; margin-left: auto; margin-right: auto;">
  <p>
    A crescente urbanização e o aumento da frota de veículos nas cidades, têm agravado os problemas de mobilidade urbana. Segundo a Organização das Nações Unidas (ONU), mais de 55% da população mundial vive em áreas urbanas, número que deve crescer para 68% até 2050. Esse crescimento acelerado resulta em um aumento expressivo do número de veículos circulando, causando congestionamentos, atrasos e altos níveis de poluição. Esse cenário se torna ainda mais desafiador em grandes centros urbanos, onde a infraestrutura viária não tem acompanhado o crescimento populacional e a demanda por transporte. Portanto, a gestão inadequada do tráfego urbano tornou-se um dos principais obstáculos para a eficiência no transporte e na qualidade de vida nas cidades.
  </p>
  <p>
    Os congestionamentos têm efeitos adversos não apenas na mobilidade, mas também no meio ambiente e na economia. Segundo um estudo realizado pela Federação das Indústrias do Estado de São Paulo (FIESP), os congestionamentos geram um prejuízo anual de aproximadamente R$ 267 bilhões para o Brasil, resultado da perda de produtividade e dos custos adicionais com combustíveis (Figura 1).  Além disso, o tráfego intenso contribui para a emissão de poluentes, como dióxido de carbono (CO2) e óxidos de nitrogênio (NOx), que prejudicam a qualidade do ar e aumentam os riscos de doenças respiratórias. Dessa forma, soluções que possam melhorar a fluidez do tráfego, como sistemas de monitoramento em tempo real, são essenciais para mitigar esses impactos e promover um ambiente urbano mais saudável e sustentável.
  </p>
</div>
<div style="display: flex; align-items: center; justify-content: center;">
  <div class="card" style="width: 18rem; margin-top: 1rem">
    <img src="../../assets/img_1.png" class="card-img-top">
    <div class="card-body">
      <p class="card-text">O Arduino Esp32 foi usado no projeto para fazer a simulação de tráfego.</p>
    </div>
  </div>
</div>
